<!DOCTYPE html>
<html>
<title>Search Recommendation</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"n href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
.myLink {display: none}
</style>
<body class="w3-light-grey">

<!-- Introduction Bar -->
<div class="w3-bar w3-white w3-border-bottom w3-xlarge">
  <span>Nhóm 14<div class=""></div></span>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
  <img src="/assets/images/banner.jpg" width="1500px" height="250px">
  <div class="w3-display-middle" style="width:65%">
    <div>
      <input [(ngModel)]="value" type="text" placeholder="Search" class="w3-bar" style="height: 40px; font-size: large; width: 95%;">
      <button (click)="onClick()" class="w3-display-right" style="width: 5%;height: 40px;"><i class="fa fa-search"></i></button>
    </div>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px;">

  <!-- Good offers -->
  <div class="w3-container w3-margin-top">
    <h3>Top 5 Results</h3>
  </div>
  <div class="w3-row-padding w3-text-white w3-large">
    <div class="w3-half w3-margin-bottom">
      <div class="w3-display-container">
        <img src="../assets/products/{{list[0].product_uid}}.jpg" onerror="if (this.src != '../assets/images/err.jpg') this.src = '../assets/images/err.jpg';" title="score: {{list[0].score_relevance}}" style="width:100%;">
        <span class="w3-display-bottomleft w3-padding" style="color: black;">{{list[0].product_title}}</span>
      </div>
    </div>
    <div class="w3-half">
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-margin-bottom w3-half">
          <div class="w3-display-container">
            <img src="../assets/products/{{list[1].product_uid}}.jpg" onerror="if (this.src != '../assets/images/err.jpg') this.src = '../assets/images/err.jpg';" title="score: {{list[1].score_relevance}}" style="width:100%;">
            <span class="w3-display-bottomleft w3-padding" style="color: black;">{{list[1].product_title}}</span>
          </div>
        </div>

        <div class="w3-margin-bottom w3-half">
          <div class="w3-display-container">
            <img src="../assets/products/{{list[2].product_uid}}.jpg" onerror="if (this.src != '../assets/images/err.jpg') this.src = '../assets/images/err.jpg';" title="score: {{list[2].score_relevance}}" style="width:100%;">
            <span class="w3-display-bottomleft w3-padding" style="color: black;">{{list[2].product_title}}</span>
          </div>
        </div>

        <div class="w3-margin-bottom w3-half">
          <div class="w3-display-container">
            <img src="../assets/products/{{list[3].product_uid}}.jpg" onerror="if (this.src != '../assets/images/err.jpg') this.src = '../assets/images/err.jpg';" title="score: {{list[3].score_relevance}}" style="width:100%;">
            <span class="w3-display-bottomleft w3-padding" style="color: black;">{{list[3].product_title}}</span>
          </div>
        </div>

        <div class="w3-margin-bottom w3-half">
          <div class="w3-display-container">
            <img src="../assets/products/{{list[4].product_uid}}.jpg" onerror="if (this.src != '../assets/images/err.jpg') this.src = '../assets/images/err.jpg';" title="score: {{list[4].score_relevance}}" style="width:100%;">
            <span class="w3-display-bottomleft w3-padding" style="color: black;">{{list[4].product_title}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<!-- End page content -->
</div>

<script>
// Tabs
function openLink(evt, linkName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("myLink");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(linkName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}

// Click on the first tablink on load
document.getElementsByClassName("tablink")[0].click();
</script>

</body>
</html>
